<aside class="col-sm-2 order-2 order-sm-1">
  <%= render "branches/sidebar" %>
</aside>

<main class="col-sm-10 order-1 order-sm-2">
  <h1><%= @branch.company_name %></h1>
  <% if yield(:title).present? %>
    <h2><%= yield(:title) %></h2>
  <% end %>
  <% if yield(:subtitle).present? %>
    <h3><%= yield(:subtitle) %></h3>
  <% end %>
  <%= yield %>
</main>
