<h1><%= @branch.company_name %></h1>

<h3>シフト提出状況</h3>

<table>
  <tr>
    <th></th>
      <% @periods.each do |period| %>
        <th><%= link_to period.start_to_end, "#" %></th>
      <% end %>
  </tr>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.full_name %></td>
      <% @periods.each do |period| %>
        <td>
          <%= employee.submit_shift?(period) ? "提出" : "未提出" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to "従業員を追加する", add_employee_branch_path(@branch) %>