<% provide(:title, 'シフト希望') %>
<% provide(:subtitle, "期間：#{@period.start_to_end}") %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>提出状況</th>
      <% @period.days.each do |date| %>
        <th><%= link_to date.strftime("%m/%d"), date_branch_path(@branch, date.to_s) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @branch.employees.each do |employee| %>
      <tr <%= 'class=table-warning' unless employee.submit_shift?(@period) %>>
        <td><%= employee.full_name %></td>
        <td><%= employee.submit_shift?(@period) ? "提出済" : "未提出" %></td>
        <% @period.days.each do |date| %>
          <td><%= @shift_requests[employee.id][date.to_s] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>