<h1>企業情報を登録する</h1>

<h2>支店情報を入力してください</h2>

<%= form_with model: @branch, url: create_branch_path, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :name, "支店名" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <dev>
    <%= f.submit "管理者ユーザーを選択する", class: "btn btn-primary" %>
  </dev>
<% end %>