<h1>企業情報を登録する</h1>

<h2>企業情報を入力してください</h2>

<%= form_with model: @company, url: input_company_company_registration_path, method: :post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :name, "企業名" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <dev>
    <%= f.submit "支店情報を入力する", class: "btn btn-primary" %>
  </dev>
<% end %>
