<h2>ログイン</h2>
<p>LINEアカウントと連携するユーザーでログインしてください。</p>

<%= form_with(url: create_link_path, scope: :user, local: true) do |f| %>
  <%= render 'shared/new_sessions_form', form: f %>
  
  <%= hidden_field_tag :link_token, params[:link_token] %>
  <%= hidden_field_tag :user, "exist" %>
  
  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>