<div class="fixed-bottom bg-light text-center pt-1 pb-2">
  <div class="container">
    <div class="form-row pseudo-table-header">
      <div class="col-4 pseudo-table-row pt-2 pb-2">日付</div>
      <div class="col-4 pseudo-table-row pt-2 pb-2">開始時間</div>
      <div class="col-4 pseudo-table-row pt-2 pb-2">終了時間</div>
    </div>
    
    <%= form_with(url: shift_submission_shift_requests_path(@shift_submission), scope: :shift_request, class: "mt-1", local: true) do |f| %>
      <div class="form-row ss-row">
        <div class="col-4">
          <select class="form-control" name=<%= "shift_request[date]" %>>
            <option value="">--------</option>
            <% @period.days.each do |date| %>
              <option value=<%= date %>><%= date_display(date) %></option>
            <% end %>
          </select>
        </div>
        <div class="col-4">
          <%= f.time_field :start_time, min: @branch.start_of_business_hours.to_s(:time), 
                                        max: @branch.end_of_business_hours.to_s(:time), 
                                        class: 'form-control' %>
        </div>
        <div class="col-4">
          <%= f.time_field :end_time, min: @branch.start_of_business_hours.to_s(:time), 
                                      max: @branch.end_of_business_hours.to_s(:time), 
                                      class: 'form-control' %>
        </div>
      </div>
      <%= f.submit "シフトを追加・変更する", class: "btn btn-primary btn-sm w-50" %>
    <% end %>
  </div>
</div>