<h2>シフト提出</h2>
<h3>企業：<%= @branch.company_name %></h3>
<h3>期間：<%= @period.start_to_end %></h3>

<%= form_with(url: shift_submissions_path(@period), local: true) do |f| %>
  <!--シフト期間の選択-->
  <div>
    <%= hidden_field_tag :period, @period.id %>
  </div>
  
  <!--シフトの送信フォーム-->
  <%= fields_for :shift_request do |shift_request_form| %>
    <div class="form-row pseudo-table-header">
      <div class="col-4 pseudo-table-row">日付</div>
      <div class="col-4 pseudo-table-row">開始時間</div>
      <div class="col-4 pseudo-table-row">終了時間</div>
    </div>
    <% @period.days.count.times do |num| %>
      <%= render "shift_submissions/shift_form",  form: shift_request_form, num: num %>
    <% end %>
  <% end %>
  
  <div class="fixed-bottom bg-light text-center pt-2 pb-2">
    <%= f.submit "シフトを提出する", class: "btn btn-primary w-50" %>
  </div>
<% end %>

<div class="form-row mb-3">
  <div class="col-4"></div>
  <div class="col-4 text-center">
    <button type="button" id="btn-fill-start-time" class="btn btn-sm border border-primary text-primary">最初から</button>
  </div>
  <div class="col-4 text-center">
    <button type="button" id="btn-fill-end-time" class="btn btn-sm border border-primary text-primary">最後まで</button>
  </div>
</div>

<div class="text-center">
  <button type="button" id="btn-add-row" class="btn text-secondary border border-secondary">提出するシフトを追加＋</button>
</div>

<script>
  var rows = new Array;
  var num_of_displays = <%= 1 %>;
  var btn_add_row = $('#btn-add-row');
  var btn_fill_start_time = $('#btn-fill-start-time');
  var btn_fill_end_time = $('#btn-fill-end-time');
  var start_of_business_hours = '<%= @branch.start_of_business_hours.to_s(:time) %>';
  var end_of_business_hours = '<%= @branch.end_of_business_hours.to_s(:time) %>';
  
  for (let step=0; step < <%= @period.days.count %>; step++) {
    rows[step] = document.getElementById("row-" + step);
    if (step >= num_of_displays) {
      rows[step].style.display = "none";
    }
  }
  
  btn_fill_start_time.click(function() {
    var input = document.getElementById("start-time-form-" + (num_of_displays - 1));
    input.value = start_of_business_hours;
  })
  
  btn_fill_end_time.click(function() {
    var input = document.getElementById("end-time-form-" + (num_of_displays - 1));
    input.value = end_of_business_hours;
  })
  
  btn_add_row.click(function() {
    rows[num_of_displays].style.display = '';
    num_of_displays += 1;
  })
</script>
