<h2>シフト提出</h2>
<h3>企業：<%= @branch.company_name %></h3>
<h3>期間：<%= @period.start_to_end %></h3>

<%= form_with(url: shift_submissions_path(@period), local: true) do |f| %>
  <!--シフト期間の選択-->
  <div>
    <%= hidden_field_tag :period, @period.id %>
  </div>
  
  <!--シフトの送信フォーム-->
  <%= fields_for :shift_request do |shift_request_form| %>
    <div class="form-row">
      <div class="col-4">日付</div>
      <div class="col-4">開始時間</div>
      <div class="col-4">終了時間</div>
    </div>
    <% @period.days.count.times do |num| %>
      <%= render "shift_submissions/shift_form",  form: shift_request_form, num: num %>
    <% end %>
  <% end %>
  
  <div class="fixed-bottom bg-light text-center pt-2 pb-2">
    <%= f.submit "シフトを提出する", class: "btn btn-primary w-50" %>
  </div>
<% end %>
