<header class="bg-dark fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark <%= params["controller"] == "branches" ? "container-fluid" : "container" %>">
    <!--トップページへのリンク-->
    <%= link_to '<アルバイト管理システム>', root_url, id: 'logo', class: "navbar-brand" %>
    
    <!--ナビゲーションバー切換用のアイコン-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#切り替え表示されるコンテンツ名" aria-controls="切り替え表示されるコンテンツ名" aria-expanded="false" aria-label="ナビゲーション切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!--ナビゲーション-->
    <div class="collapse navbar-collapse justify-content-end" id="切り替え表示されるコンテンツ名">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <!--ログイン時-->
          <!--管理者ページへのリンク-->
          <% if current_user.admin_branches.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">管理人ページへ</a>
              <div class="dropdown-menu bg-dark">
                <% current_user.admin_branches.each do |branch| %>
                  <%= link_to branch.company_name, branch_path(branch), class: "dropdown-item text-white" %>
                <% end %> 
              </div>
            </li>
          <% end %>
          
          <!--シフト提出へのリンク-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">シフトを提出する</a>
            <div class="dropdown-menu bg-dark">
              <% current_user.branches.each do |branch| %>
                <%= link_to branch.company_name, "#", class: "dropdown-item disabled text-white" %>
                <ul>
                  <% branch.periods_before_deadline.each do |period| %>
                    <li class="list-unstyled"><%= link_to period.start_to_end, new_shift_submission_path(period), class: "dropdown-item text-white" %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </li>
          
          <!--ログアウト-->
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-white" %></li>
        
        <% else %>
        <!--ログアウト時-->
          <!--ログイン-->
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link text-white" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>